# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.swp

# Node (на будущее, когда переедешь на Astro)
node_modules/
dist/
.cache/
.astro/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
